@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1130px;
  --breakpoint-2xl: 1520px;

  /* colors */
  --color-primary: #0d091a;
  --color-secopndary: #140e25;
  --color-accent: #5810ff;
  --color-accent-hover: #4a0bde;
  --color-tertiary: #201837;
  --color-tertiary-hover: #271f40;

  /* fonts */
  --font-primary: "Sometype Mono";
}

body {
  @apply font-primary bg-primary text-white leading-relaxed;
}
